alias sudo='sudo '
alias _='sudo '

# cd
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias doc='cd ~/Documents'
alias dl='cd ~/Downloads'
alias ws='cd ~/workspace'
alias cdg='cd $(git rev-parse --show-toplevel)'  # cd to toplevel of git repo
function mkcd() { mkdir -p "$1" && cd "$1"; }

# confirm
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias ln='ln -i'

# override for convenience
if [ "$(uname)" = 'Darwin' ]; then
  alias ls='ls -FG'
else
  alias ls='ls -F --color=auto'
fi
alias ll='ls -lah'
alias mkdir='mkdir -p'
alias df='df -h'
alias du='du -h'
alias free='free -h'
alias grep='grep --color=auto -En'  # use regexp and show line numbers
alias dirs='dirs -v'

# shorten
alias g=git
alias h=history
alias j=jobs

if type vim &> /dev/null; then
  alias vi=vim
fi

if type hub &> /dev/null; then
  alias git=hub
fi

alias md=mkdir
alias gr=grep
alias dirsc='dirs -c && pushd -n ${PWD} > /dev/null'

alias relogin='exec $SHELL -l'

alias osver='cat /etc/os-release'

alias nimc='nim cpp -o:./a.out'
alias nimcr='nim cpp -o:./a.out -d:release --hints:off --verbosity:0'
alias nimr='nimc -r'
alias nimrr='nimcr -r'

alias d='docker'
alias dal='alias | grep "='\''docker[^-]"'
alias da='docker attach'
alias db='docker build'
alias di='docker image'
alias dir='docker image rm'
alias dip='docker image prune'
alias dis='docker images'
alias dp='docker ps'
alias dr='docker run'
alias dri='docker run -it'
alias dv='docker volume'
alias dvl='docker volume ls'
alias dvp='docker volume prune'
alias dx='docker exec'
alias dxi='docker exec -it'
alias dc='docker-compose'
alias dcal='alias | grep "='\''docker-compose"'
alias dcb='docker-compose build'
alias dcd='docker-compose down'
alias dce='docker-compose exec'
alias dcp='docker-compose ps'
alias dcprs='docker ps --filter "label=com.docker.compose.project" -q | xargs docker inspect --format="{{index .Config.Labels \"com.docker.compose.project\"}}" | sort | uniq'
alias dcr='docker-compose run'
alias dcu='docker-compose up -d'
alias dcub='docker-compose up -d --build'

alias tm='tmux'
alias tmal='alias | grep "='\''tmux"'
alias tma='tmux attach'
alias tmd='tmux detach'
alias tmkill='tmux kill-session'
alias tml='tmux ls'
alias tmn='tmux new'
alias tmnw='tmux neww'
alias tmr='tmux rename'
alias tmreload='tmux source-file ~/.tmux.conf'

function open() {
  if which open &> /dev/null; then
    open "$@"
  elif which xdg-open &> /dev/null; then
    xdg-open "$@"
  elif which explorer &> /dev/null; then
    explorer "$@"
  fi
}

function open-http() {
  if which open &> /dev/null; then
    open http://$1
  elif which xdg-open &> /dev/null; then
    xdg-open http://$1
  elif which explorer &> /dev/null; then
    explorer http://$1
  fi
}

function open-https() {
  if which open &> /dev/null; then
    open https://$1
  elif which xdg-open &> /dev/null; then
    xdg-open https://$1
  elif which explorer &> /dev/null; then
    explorer https://$1
  fi
}

function with_env() {
  (
    set -a
    . .env
    set +a
    "$@"
  )
}
