# use in your .bash_profile or .bashrc like below
# . /path/to/dotfiles/.aliases

alias sudo='sudo '
alias _='sudo '

# cd
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias doc='cd ~/Documents'
alias dl='cd ~/Downloads'
alias ws='cd ~/Documents/workspace'
alias cdg='cd $(git rev-parse --show-toplevel)'
function mkcd() { mkdir -p "$1" && cd "$1"; }
function cdh() {
  local dirnum
  dirs -v | sort -k 2 | uniq -f 1 | sort -n -k 1 | head -n $(( LINES - 3 ))
  read -p "select number: " dirnum
  if [ -z "$dirnum" ] ; then
    echo "$FUNCNAME: Abort." 1>&2
  elif ( echo $dirnum | egrep '^[[:digit:]]+$' > /dev/null ) ; then
    cd "$( echo ${DIRSTACK[$dirnum]} | sed -e "s;^~;$HOME;" )"
  else
    echo "$FUNCNAME: Wrong." 1>&2
  fi
}
function cdl() {
  local i dirnum
  declare -a dirlist=( $(echo {.,}?*/) )

  for i in "${!dirlist[@]}"
  do
    echo "$i  ${dirlist[$i]}"
  done

  read -p "select number: " dirnum
  if [ -z "$dirnum" ] ; then
    echo "$FUNCNAME: Abort." 1>&2
  elif ( echo $dirnum | egrep '^[[:digit:]]+$' > /dev/null ) ; then
    cd "$( echo ${dirlist[$dirnum]} | sed -e "s;^~;$HOME;" )"
  else
    echo "$FUNCNAME: Wrong." 1>&2
  fi
}

# confirm
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias ln='ln -i'

# override for convenience
if [ "$(uname)" = 'Darwin' ]; then
  alias ls='ls -FG'
else
  alias ls='ls -F --color=auto'
fi
alias ll='ls -lah'
alias mkdir='mkdir -p'
alias df='df -h'
alias du='du -h'
alias free='free -h'
alias grep='grep --color=auto -En'
alias cd='pushd > /dev/null'
alias dirs='dirs -v'

# shorten
alias g=git
alias h=history
alias j=jobs
alias vi=vim
alias md=mkdir
alias gr=grep
alias dirsc='dirs -c'

alias reload='. ~/.bash_profile; . ~/.bashrc; bind -f ~/.inputrc'

function open() {
  if which open &> /dev/null; then
    open "$@"
  elif which xdg-open &> /dev/null; then
    xdg-open "$@"
  elif which explorer &> /dev/null; then
    explorer "$@"
  fi
}

function open-http() {
  if which open &> /dev/null; then
    open http://$1
  elif which xdg-open &> /dev/null; then
    xdg-open http://$1
  elif which explorer &> /dev/null; then
    explorer http://$1
  fi
}

function open-https() {
  if which open &> /dev/null; then
    open https://$1
  elif which xdg-open &> /dev/null; then
    xdg-open https://$1
  elif which explorer &> /dev/null; then
    explorer https://$1
  fi
}
