# use in your .bash_profile or .bashrc like below
# . /path/to/dotfiles/.aliases

alias sudo='sudo '
alias _='sudo '

# cd
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias doc='cd ~/Documents'
alias dl='cd ~/Downloads'
alias ws='cd ~/Documents/workspace'
alias cdg='cd $(git rev-parse --show-toplevel)'
function mkcd() { mkdir -p "$1" && cd "$1"; }

function cdh() {
  local target=$(dirs -v | sort -k 2 | uniq -f 1 | sort -n -k 1 | cut -d" " -f3- | sed 's/^ *//' | fzf --bind "shift-up:page-up,shift-down:page-down")

  if [ -n "$target" ]; then
    cd "$(echo "$target" | sed "s;^~;$HOME;")"
  fi
}

function cdi() {
  case $1 in
    help|--help|-h)
      echo "cd interactively."
      echo ""
      echo "  Ctrl-k/Ctrl-p/up      : up"
      echo "  Ctrl-j/Ctrl-n/down    : down"
      echo "  PgUp/Shift-up         : page up"
      echo "  PgDn/Shift-down       : page down"
      echo "  Space/Shift-right     : cd and continue"
      echo "  Ctrl-Space/Shift-left : cd to parent and continue"
      echo "  Enter                 : cd and exit"
      echo "  Esc                   : abort"
      return
      ;;
  esac

  local cd_and_continue='execute-silent@cd "`cat /tmp/fzf_cur | sed "s/^ *//"`" && cd {} && pwd > /tmp/fzf_cur@+top+clear-query+reload@cd "`cat /tmp/fzf_cur`" && echo "`pwd`" && printf "%s\n" {./,{.,}?*/} | grep -v "*"@'
  local cd_to_parent_and_continue=${cd_and_continue/\{\}/..}

  pwd > /tmp/fzf_cur
  local target=$((echo "`pwd`" && printf "%s\n" {./,{.,}?*/}) | fzf --header-lines=1 --bind "space:${cd_and_continue},ctrl-space:${cd_to_parent_and_continue},shift-right:${cd_and_continue},shift-left:${cd_to_parent_and_continue},shift-up:page-up,shift-down:page-down")

  if [ -n "$target" ]; then
    cd "$(echo "$(cat /tmp/fzf_cur)"/"$target")"
  fi
}

# confirm
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias ln='ln -i'

# override for convenience
if [ "$(uname)" = 'Darwin' ]; then
  alias ls='ls -FG'
else
  alias ls='ls -F --color=auto'
fi
alias ll='ls -lah'
alias mkdir='mkdir -p'
alias df='df -h'
alias du='du -h'
alias free='free -h'
alias grep='grep --color=auto -En'
alias cd='pushd > /dev/null'
alias dirs='dirs -v'

# shorten
alias g=git
alias h=history
alias j=jobs
alias vi=vim
alias md=mkdir
alias gr=grep
alias dirsc='dirs -c'

alias reload='. ~/.bash_profile; . ~/.bashrc; bind -f ~/.inputrc'

function open() {
  if which open &> /dev/null; then
    open "$@"
  elif which xdg-open &> /dev/null; then
    xdg-open "$@"
  elif which explorer &> /dev/null; then
    explorer "$@"
  fi
}

function open-http() {
  if which open &> /dev/null; then
    open http://$1
  elif which xdg-open &> /dev/null; then
    xdg-open http://$1
  elif which explorer &> /dev/null; then
    explorer http://$1
  fi
}

function open-https() {
  if which open &> /dev/null; then
    open https://$1
  elif which xdg-open &> /dev/null; then
    xdg-open https://$1
  elif which explorer &> /dev/null; then
    explorer https://$1
  fi
}
