# use in your .bash_profile or .bashrc like below
# . /path/to/dotfiles/.exports

export HISTCONTROL=ignoreboth
export EDITOR='vim'

if [ "$(uname)" = 'Darwin' ]; then
  export LC_ALL='ja_JP.UTF-8'
else
  export LC_ALL='ja_JP.utf8'
fi

stty stop ''

export FZF_DEFAULT_OPTS='--reverse --cycle --bind "change:top" -0'

function dispatch_prompt_command() {
  local f
  for f in ${!PROMPT_COMMAND_*}; do
    eval "${!f}"
  done
}
export PROMPT_COMMAND='dispatch_prompt_command'

export PROMPT_COMMAND_HISTSAVE='history -a'

function auto_pushd() {
  [[ ${AUTO_PUSHD_DIR} != ${PWD} ]] && pushd -n "${PWD}" > /dev/null
  AUTO_PUSHD_DIR="${PWD}"
}
export PROMPT_COMMAND_AUTO_PUSHD='auto_pushd'
