export HISTSIZE=100000
export HISTTIMEFORMAT='%F %T '
export HISTCONTROL=ignoreboth  # not save commands that space-beginned and duplicated to history
export EDITOR='vim -p'

if [ "$(uname)" = 'Darwin' ]; then
  export LC_ALL='ja_JP.UTF-8'
else
  export LC_ALL='ja_JP.utf8'
fi

stty stop ''

export FZF_DEFAULT_OPTS='--reverse --cycle --bind "change:top" -0'

# exec commands after each commands
function dispatch_prompt_command() {
  local f
  for f in ${!PROMPT_COMMAND_*}; do
    eval "${!f}"
  done
}
export PROMPT_COMMAND='dispatch_prompt_command'

export PROMPT_COMMAND_HISTSAVE='history -a'

function auto_pushd() {
  [[ ${AUTO_PUSHD_DIR} != ${PWD} ]] && pushd -n "${PWD}" > /dev/null
  AUTO_PUSHD_DIR="${PWD}"
}
export PROMPT_COMMAND_AUTO_PUSHD='auto_pushd'
