[color]
	ui = auto
[alias]
	# log
	l0 = log --oneline --all --decorate --graph                # oneline
	l1 = log --oneline --all --decorate --graph --name-status  # oneline + changed files
	l2 = log -p --decorate --all                               # description

	a = add
	aa = add --all
	s = status -sb
	# show short commit hash
	rev = rev-parse --short @

	# branch
	b = branch
	ba = branch -a
	bm = branch -m
	bmg = branch --merged
	bd = branch -d
	bdd = branch -D
	bv = branch -vv
	co = checkout
	cb = checkout -b
	rb = rebase
	rbm = rebase master
	rbc = rebase --continue
	rba = rebase --abort
	rbs = rebase --skip
	rbi = rebase -i
	rbim = rebase -i master
	# show branches with relationship to upstream
	usi = !git for-each-ref --color --format='%(refname:short)^%(upstream:lstrip=2) %(color:blue)%(upstream:track)' refs/heads | column -t -s^

	# commit
	c = commit
	cm = commit -m
	ca = commit --amend --no-edit
	ic = commit --allow-empty -m \"Initial Commit\"
	cf = commit --fixup
	chp = cherry-pick

	# remote
	p = pull
	ps = push
	psf = push -f
	f = fetch
	rs = remote show origin
	rpo = remote prune origin
	cl = clone
	fusi = !git fetch && git usi

	# reset
	re = reset
	res = reset --soft
	reh = reset --hard

	# diff
	d = diff
	dc = diff --cached
	da = diff @

	# stash
	ss = stash
	sl = stash list
	sa = stash apply
	sd = stash drop
	sp = stash pop
	save = stash save
	ssa = !git stash && git stash apply

	al = config --get-regexp alias.*  # show aliases

	# set upstream of current branch to the same name in origin
	sus = !git branch -u origin/`git symbolic-ref --short HEAD` `git symbolic-ref --short HEAD`

	# delete merged branch
	dmb = !git branch --merged | egrep -v '\\*|develop|master' | xargs git branch -d

	# pull and prune
	pp = "!f(){ \
		git checkout ${1:-master} && \
		git pull && \
		git remote prune origin && \
		git dmb; \
	};f"

	rbsq = "!f(){ git rebase -i ${1:-master} --autosquash; };f"
	rbsqc = "!f(){ git -c core.editor=: rebase -i ${1:-master} --autosquash; };f"

[push]
	default = current
[core]
	excludesfile = ~/.gitignore_global
	quotePath = false
[help]
	autocorrect = -1
[rebase]
	abbreviateCommands = true
	autosquash = true
	autostash = true
