# use in your .includerc like below
# $include /path/to/dotfiles/.inputrc
# bash version should be >= 4.4

set editing-mode vi
$if mode=vi
	set show-mode-in-prompt on
	set vi-ins-mode-string \1\e[34;1m\2(ins) \1\e[0m\2
	set vi-cmd-mode-string \1\e[31;1m\2(cmd) \1\e[0m\2

	set keymap vi-insert
	"\C-a": beginning-of-line
	"\C-e": end-of-line
	"\C-h": backward-char
	"\C-l": forward-char
	"\C-j": vi-movement-mode
$endif

set completion-ignore-case on
set show-all-if-ambiguous on
set visible-stats on
set mark-symlinked-directories on
set expand-tilde on

set colored-stats on
set colored-completion-prefix on
set menu-complete-display-prefix on

"\C-p": reverse-search-history
"\C-n": forward-search-history
