set completion-ignore-case on
set show-all-if-ambiguous on
set visible-stats on
set mark-symlinked-directories on
set expand-tilde on

set colored-stats on
set colored-completion-prefix on
set menu-complete-display-prefix on
set bell-style none

# move
#"\C-a": beginnig-of-line
#"\C-e": end-of-line
#"\C-l": clear-screen

# kill word (Rubout = Backspace)
#"\C-w": unix-word-rubout (kill the word behind point, using white space)
#"\M-Rubout": backward-kill-word (kill the word behind point, using other than alphanumeric characters)

# kill line
#"\C-u": unix-line-discard (kill from point to the beginning)
#"\C-k": kill-line (kill from point to the end)
#"\C-x Rubout": backward-kill-line (kill from point to the beginning)

# yank
#"\C-y": yank

# edit and execute
#"\C-x \C-e": edit-and-execute-command

# undo
#"\C-_": undo
#"\C-x \C-u": undo

$if Bash
    # move to beginning
    "\C-qh": beginning-of-line

    # move to end
    "\C-ql": end-of-line

    # edit and execute
    "\C-qe": edit-and-execute-command

    # preview
    "\C-qp": "\C-e | less"

    # output
    "\C-qo": " > out 2>&1"

    # null
    "\C-qn": " > /dev/null"
    "\C-qN": " > /dev/null 2>&1"

    # expand line
    "\C-q ": "\e\C-e "
    Space: magic-space
$endif
