set completion-ignore-case on
set show-all-if-ambiguous on
set visible-stats on
set mark-symlinked-directories on
set expand-tilde on

set colored-stats on
set colored-completion-prefix on
set menu-complete-display-prefix on
set bell-style none

"\C-p": reverse-search-history
"\C-n": forward-search-history
