let mapleader = " "

" normal mode
"" display lines downward
nnoremap j gj

"" display lines upward
nnoremap k gk

noremap <CR> G
noremap <BS> gg
noremap Y y$
nnoremap <C-j> i<CR><Esc>

nnoremap + <C-a>
nnoremap - <C-x>

noremap <Leader>h ^
noremap <Leader>l $
noremap <Leader>m %
nnoremap <Leader>/ *

nnoremap <Leader>o o<Esc>
nnoremap <Leader>O O<Esc>

nnoremap <Leader>j <C-f>
nnoremap <Leader>k <C-b>

"" insert only one character
nnoremap <Leader>i i_<Esc>r

nmap <Leader>w [window]
nnoremap [window]s :<C-u>split<CR>
nnoremap [window]v :<C-u>vsplit<CR>
nnoremap [window]h <C-w>h
nnoremap [window]j <C-w>j
nnoremap [window]k <C-w>k
nnoremap [window]l <C-w>l
nnoremap [window]H <C-w>H
nnoremap [window]J <C-w>J
nnoremap [window]K <C-w>K
nnoremap [window]L <C-w>L
nnoremap [window]= <C-w>=
nnoremap [window]> <C-w>>
nnoremap [window]< <C-w><
nnoremap [window]+ <C-w>+
nnoremap [window]- <C-w>-

nmap <Leader>t [tab]
nnoremap [tab]t :<C-u>tabnew<CR>
nnoremap [tab]h gT
nnoremap [tab]j gT
nnoremap [tab]k gt
nnoremap [tab]l gt

"" not to yunk
nnoremap x "_x
nnoremap X "_X
nnoremap s "_s
nnoremap S "_S

"" format all lines
nnoremap <Leader>= gg=G

"" yank all lines
nnoremap <Leader>y ggyG

"" move to end after pasting
nnoremap <silent> p p`]

nnoremap <Leader>s :%s/

"" disable highlight
nmap <Esc><Esc> :nohlsearch<CR><Esc>

"" correct quit
nnoremap q: :q

" insert mode
inoremap <C-e> <END>
inoremap <C-a> <HOME>
inoremap <C-j> <Down>
inoremap <C-k> <Up>
inoremap <C-h> <Left>
inoremap <C-l> <Right>
inoremap <C-u> <BS>
inoremap <C-i> <Del>
inoremap jj    <Esc>
inoremap jk    <CR>

" visual mode
"" search selected and go next
vnoremap * "zy:let @/ = @z<CR>n

"" search selected and go previous
vnoremap # "zy:let @/ = @z<CR>N

"" move to end after yank
vnoremap <silent> y y`]

vnoremap <Leader>s( di()<Esc>P
vnoremap <Leader>s{ di{}<Esc>P
vnoremap <Leader>s[ di[]<Esc>P
vnoremap <Leader>s< di<><Esc>P
vnoremap <Leader>s" di""<Esc>P
vnoremap <Leader>s' di''<Esc>P
