input {
    keyboard {
        xkb {
            layout "us";
        }
        repeat-delay 250;
        repeat-rate 30;
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }
}
