spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &" // Polkit
spawn-sh-at-startup "wl-paste --watch cliphist store &"
spawn-at-startup "vivaldi"
spawn-at-startup "alacritty"
spawn-at-startup "brave"
spawn-at-startup "spotify"

window-rule {
    match app-id="^Alacritty$"
    default-column-width { proportion 1.0; }
}

window-rule {
    match app-id="^Alacritty$" at-startup=true
    open-on-workspace "browser"
}

window-rule {
    match app-id="^vivaldi-stable$"
    open-on-workspace "browser"
    default-column-width { proportion 1.0; }
}

window-rule {
    match app-id="^brave-browser$" at-startup=true
    open-on-workspace "video"
    default-column-width { proportion 1.0; }
}

window-rule {
    match title="^ピクチャー イン ピクチャー$"
    open-floating true
}

window-rule {
    match app-id="^spotify$"
    open-on-workspace "music"
    default-column-width { proportion 1.0; }
}

window-rule {
    match app-id="^Godot$" title="DEBUG"
    open-floating true
}

prefer-no-csd

screenshot-path "~/.local/share/screenshots/%Y%m%d_%H%M%S.png"

cursor {
    hide-after-inactive-ms 3000
}

hotkey-overlay {
    skip-at-startup
}
