workspace "video" {
    open-on-output "DP-3"
}

workspace "music" {
    open-on-output "DP-3"
}

workspace "game" {
    open-on-output "DP-3"
}

workspace "game-dev" {
    open-on-output "DP-3"
}

workspace "browser" {
    open-on-output "DP-4"
}
