export DOT_DIR="${HOME}/.dotfiles"

export XDG_CONFIG_HOME="${HOME}/.config"
export XDG_CACHE_HOME="${HOME}/.cache"
export XDG_DATA_HOME="${HOME}/.local/share"
export XDG_STATE_HOME="${HOME}/.local/state"
export XDG_SCREENSHOTS_DIR="${XDG_DATA_HOME}/screenshots"
export XDG_RUNTIME_DIR="/run/user/${UID}"

. ${DOT_DIR}/.config/bash/.exports_color

# directory
LS_COLORS="di=${__blue_ansi_foreground}"
# executable
LS_COLORS="ex=${__green_ansi_foreground}:${LS_COLORS}"
# pipe
LS_COLORS="pi=${__yellow_ansi_foreground}:${LS_COLORS}"
# link
LS_COLORS="ln=${__cyan_ansi_pccs_palep_foreground}:${LS_COLORS}"
# orphan link
LS_COLORS="or=9;${__red_ansi_foreground}:${LS_COLORS}"
# socket
LS_COLORS="so=${__red_ansi_pccs_deep_foreground}:${LS_COLORS}"
# setuid
LS_COLORS="su=30;${__red_ansi_background}:${LS_COLORS}"
# setgid
LS_COLORS="sg=30;${__yellow_ansi_background}:${LS_COLORS}"
# sticky and other writable directory
LS_COLORS="tw=30;${__green_ansi_background}:${LS_COLORS}"
# not sticky and other writable directory
LS_COLORS="ow=${__blue_ansi_pccs_deep_foreground};${__green_ansi_background}:${LS_COLORS}"
# ignored
LS_COLORS="*~=${__gy55_ansi_pccs_foreground}:${LS_COLORS}"
LS_COLORS="*.bak=${__gy55_ansi_pccs_foreground}:${LS_COLORS}"
LS_COLORS="*.tmp=${__gy55_ansi_pccs_foreground}:${LS_COLORS}"
export LS_COLORS

export TF_PLUGIN_CACHE_DIR="${XDG_CACHE_HOME}/terraform/plugins"

export HISTSIZE=100000
export HISTFILE=${XDG_STATE_HOME}/bash/history
export HISTFILESIZE=100000
export HISTTIMEFORMAT='%F %T '
export HISTCONTROL=ignorespace # not save commands that space-beginned and duplicated to history
export HISTIGNORE='?:??:pwd:history:cd*:exit:clear'

export PATH="${XDG_DATA_HOME}/mise/shims:$PATH"
export PATH="${XDG_CACHE_HOME}/.bun/bin:$PATH"

export EDITOR='nvim -p'
export SUDO_EDITOR="$(type -p nvim)"

export VIMINIT='let $MYVIMRC = has("nvim") ? "$XDG_CONFIG_HOME/nvim/init.lua" : "$XDG_CONFIG_HOME/vim/vimrc" | so $MYVIMRC'

export PAGER='less'
export LESS='RFMi'

export GIT_PAGER=delta

export MANPAGER='nvim +Man!'

IS_WSL="$(if uname -r | \grep -iq 'microsoft'; then echo 1; else echo 0; fi)"
export IS_WSL

if [[ ${IS_WSL} == 1 ]]; then
  export BROWSER=wslview
  if [[ $(uname -r) == *WSL2 ]]; then
    export WSL_VERSION=2
  else
    export WSL_VERSION=1
  fi

  path_append '/mnt/c/Windows/system32'
  if [[ -d '/mnt/c/Program Files/Git/cmd' ]]; then
    path_append '/mnt/c/Program Files/Git/cmd'
  fi
  if [[ -d '/mnt/c/Windows/System32/WindowsPowerShell/v1.0' ]]; then
    path_append '/mnt/c/Windows/System32/WindowsPowerShell/v1.0'
  fi
  if [[ -d '/mnt/c/Program Files/PowerShell/7' ]]; then
    path_append '/mnt/c/Program Files/PowerShell/7'
  fi
fi

export LANG=C
LOCALE_LIST="$(locale -a)"
if [[ "${LOCALE_LIST}" =~ C.UTF-8|C.utf8 ]]; then
  export LC_ALL='C.UTF-8'
fi

case $- in
*i*)
  stty start ''
  stty stop ''
  ;;
esac

export FZF_DEFAULT_OPTS='--reverse --cycle --bind "change:top" -0 --wrap'
export FZF_DEFAULT_COMMAND="fd --hidden -E '.git/{objects,refs,subtree-cache}' -tf -tl | sort"

export RIPGREP_CONFIG_PATH="${XDG_CONFIG_HOME}/ripgrep/ripgreprc"

# exec commands after each commands
function dispatch_prompt_command() {
  local f
  for f in ${!PROMPT_COMMAND_*}; do
    eval "${!f}"
  done
}
export PROMPT_COMMAND='dispatch_prompt_command'

function __histsave() {
  history -a
  history -c
  history -r
}

export PROMPT_COMMAND_HISTSAVE='__histsave'

function vcs_status() {
  if jj root &> /dev/null; then
    jj status
    return
  fi
  if [ "$(git rev-parse --is-inside-work-tree 2> /dev/null)" = "true" ]; then
    git status -sb
  fi
}

function ls_vcs_status() {
  ls -A
  echo
  vcs_status
}

function ls_vcs_status_cd() {
  if [ "${LS_VCS_STATUS_DIR:-${PWD}}" != "${PWD}" ]; then
    ls_vcs_status
  fi
  LS_VCS_STATUS_DIR=${PWD}
}
export PROMPT_COMMAND_LS_VCS_STATUS_CD='ls_vcs_status_cd'

# function update_git_path_cd() {
#   if [ "${UPDATE_GIT_PATH_DIR:-${PWD}}" != "${PWD}" ]; then
#     update_git_path
#   fi
#   UPDATE_GIT_PATH_DIR=${PWD}
# }
# export PROMPT_COMMAND_UPDATE_GIT_PATH_CD='update_git_path_cd'


if type __systemd_osc_context_precmdline &> /dev/null; then
  __systemd_osc_context_offset=3
else
  __systemd_osc_context_offset=0
fi
trap '((cmdcnt++))' DEBUG
function empty_enter() {
  local splitted_prompts oldifs
  oldifs=$IFS
  IFS=';' splitted_prompts=(${PROMPT_COMMAND})
  IFS=$oldifs

  if [ $((empty_enter_cnt + ${#splitted_prompts[@]} + ${__systemd_osc_context_offset})) = ${cmdcnt} ]; then
    vcs_status
  fi

  empty_enter_cnt=${cmdcnt}
}
export PROMPT_COMMAND_EMPTY_ENTER='empty_enter'

# prompt
. ${DOT_DIR}/.config/bash/.exports_git_ps1

__ps1="\n"

# バックグラウンドジョブがあれば & を表示
__ps1+="\$([ \j -gt 0 ] && printf '\[\e[${__blue_ansi_pccs_bright_foreground}m\]& ')"

# LOCAL_PS1があれば表示
__ps1+="\$([ \"\$LOCAL_PS1\" ] && printf \"\[\e[${__blue_ansi_pccs_lightp_foreground}m\]\$LOCAL_PS1|\" )"

# ユーザー (SSH/Docker/LXC環境では下線付きでホストも表示)
__ps1+="\$([ \"\$SSH_CONNECTION\" ] || \grep -q 'docker\|lxc' /proc/1/cgroup && printf '\[\e[4;${__blue_ansi_pccs_lightp_foreground}m\]\u@\h\[\e[m\]' || printf '\[\e[${__blue_ansi_pccs_lightp_foreground}m\]\u' )"

# ディレクトリ
__ps1+=" \[\e[${__blue_ansi_pccs_palep_foreground}m\]\w"

# Git情報
__ps1+="\[\e[${__gy65_ansi_pccs_foreground}m\] \$(if jj root &> /dev/null; then __jj_ps1; else __my_git_ps1; fi) \[\e[m\]"

# コンテキスト
__ps1+="\${CONTEXT}\n"

# プロンプト記号 (終了コード0で青、それ以外でグレー)
__ps1+="\$([ \$exit = \"0\" ] && printf \"\[\e[${__blue_ansi_pccs_lightp_foreground}m\]\" || printf \"\[\e[${__gy65_ansi_pccs_foreground}m\]\")"

# プロンプト記号
__ps1+="\\$\[\e[m\] "

# 終了コードを保存してからPS1を展開
export PS1="\$(exit=\$?; printf '%s' \"${__ps1}\")"
unset __ps1

# vim: ft=sh
