[ui]
conflict-marker-style = "git"
default-command = "log"
diff-formatter = ":git"
merge-editor = "nvim"
pager = "delta"
[merge-tools.nvim]
merge-args = ["-f", "-d", "$output", "-M",
    "$left", "$base", "$right",
    "-c", "wincmd J", "-c", "set modifiable",
    "-c", "set write"]
program = "nvim"
merge-tool-edits-conflict-markers = true
[git]
private-commits = "description(glob:'private:*')"
push-new-bookmarks = true
[templates]
draft_commit_description = '''
concat(
  description,
  "\nJJ: ChangeId: ",
  change_id,
  "\n",
  surround(
    "\nJJ: This commit contains the following changes:\n", "",
    indent("JJ:     ", diff.summary()),
  ),
  "\nJJ: ignore-rest\n",
  diff.git(),
)
'''
[revset-aliases]
'closest_bookmark(to)' = 'heads(::to & bookmarks())'
'closest_pushable(to)' = 'heads(::to & ~description(exact:"") & (~empty() | merges()))'
[aliases]
# abandon
aba = ["abandon"]

# commit
c = ["commit"]
ci = ["commit", "--interactive"]
cm = ["commit", "--message"]
cim = ["commit", "--interactive", "--message"]

## commit and tug
C = ["util", "exec", "--", "bash", "-c", """
  jj commit && jj tug
""", ""]

# desc
d = ["describe"]
dm = ["describe", "--message"]

# diff
df = ["diff"]
dfs = ["diff", "--summary"]
dfst = ["diff", "--stat"]
dfg = ["diff", "--git"]
dfc = ["diff", "--color-words"]

# diffedit
de = ["diffedit"]

# edit
e = ["edit"]

# git
g = ["git"]
gi = ["git", "init"]
gic = ["git", "init", "--colocate"]
gcl = ["git", "clone"]
gclc = ["git", "clone", "--colocate"]
gf = ["git", "fetch"]
gfa = ["git", "fetch", "--all-remotes"]
gp = ["git", "push"]
gpn = ["git", "push", "--dry-run"]
gpb = ["git", "push", "--bookmark"]
gpnb = ["git", "push", "--dry-run", "--bookmark"]
gr = ["git", "remote"]
grl = ["git", "remote", "list"]

## git fetch and nt
gfn = ["util", "exec", "--", "bash", "-c", """
  jj git fetch
  jj nt
""", ""]

# log
l = ["log"]
ld = ["log", "--template", "builtin_log_compact_full_description"]
lg = ["log", "--git"]
lp = ["log", "--patch"]
ls = ["log", "--summary"]
lst = ["log", "--stat"]

## log all
la = ["log", "--revisions", "::"]
lda = ["log", "--template", "builtin_log_compact_full_description", "--revisions", "::"]
lga = ["log", "--git", "--revisions", "::"]
lpa = ["log", "--patch", "--revisions", "::"]
lsa = ["log", "--summary", "--revisions", "::"]
lsta = ["log", "--stat", "--revisions", "::"]

# new
n = ["new"]
na = ["new", "--insert-after"]
nb = ["new", "--insert-before"]
nm = ["new", "--message"]
nn = ["new", "--no-edit"]
nnm = ["new", "--no-edit", "--message"]
nt = ["new", "trunk()"]

## new and tug
N = ["util", "exec", "--", "bash", "-c", """
  jj new $1
  jj tug
""", ""]

# rebase
rb = ["rebase"]
rbb = ["rebase", "--branch"]
rbr = ["rebase", "--revisions"]
rbs = ["rebase", "--source"]
rbt = ["rebase", "--destination", "trunk()"]
rbtb = ["rebase", "--destination", "trunk()", "--branch"]
rbtr = ["rebase", "--destination", "trunk()", "--revisions"]
rbts = ["rebase", "--destination", "trunk()", "--source"]

# restore
rs = ["restore"]

# show
sh = ["show"]

# split
sp = ["split"]
spp = ["split", "--parallel"]
spr = ["split", "--revision"]
sppr = ["split", "--parallel", "--revision"]

# squash
sq = ["squash"]
sqi = ["squash", "--interactive"]
sqt = ["squash", "--into"]
sqit = ["squash", "--interactive", "--into"]

## squash descendants
sqd = ["util", "exec", "--", "bash", "-c", """
  jj squash --from "$1+::" --into "$1"
""", ""]

# list aliases
al = ["config", "list", "aliases"]

tug = ["bookmark", "move", "--from", "closest_bookmark(@)", "--to", "closest_pushable(@)"]
